html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "UnifrakturMaguntia", cursive;
}
body {
  background-color: #cea2d7;
}
.header {
  color: #a348a6;
  text-align: center;
  width: 50rem;
  margin: 3rem auto;
  padding: 3rem;
  border: 1rem solid #ffecff;
  border-radius: 2rem;
  font-size: 5rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  margin: 1rem auto;
}
.gallery-card {
  width: 28%;
  background-color: #9f63c4;
  height: 65vh;
  margin: 2rem;
  border-radius: 2rem;
  text-align: center;
  padding: 4rem;
  font-size: 4rem;
  color: #ffecff;
}
@media screen and (max-width: 600px) {
  .gallery-card {
    width: 45%;
  }
}
@media screen and (max-width: 800px) {
  .gallery-card {
    width: 80%;
  }
}
