html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;

  font-family: "Nunito", sans-serif;
}
body {
  background-color: #cea2d7;
}
.header {
  color: #a348a6;
  text-align: center;
  width: 600px;
  margin: 40px auto;
  padding: 50px;
  border: 7px solid #ffecff;
  border-radius: 25px;
  font-size: 45px;
}
.parent {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.child {
  width: 28%;
  background-color: #9f63c4;
  height: 450px;
  margin: 20px;
  border-radius: 25px;
}
