html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "UnifrakturMaguntia", cursive;
}
body {
  background-color: #cea2d7;
}
.header {
  color: #a348a6;
  text-align: center;
  width: 70vw;
  margin: 3rem auto;
  padding-bottom: 33rem;
  font-size: 6rem;
  background-image: url(https://i.pinimg.com/originals/c5/ed/fa/c5edface614df9428d86a37197a91126.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 114%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  margin: 1rem auto;
}
.gallery-card {
  width: 28%;
  background-color: #9f63c4;
  height: 63vh;
  margin: 2rem;
  border-color: ;
  border-radius: 2rem;
  text-align: center;
  padding: 4rem;
  font-size: 5rem;
  color: #ffecff;
  box-shadow: 2rem 2rem 2rem #674ab3;
}
.card-body {
  font-size: 3rem;
  color: #dfd3e3;
  font-family: "Comfortaa", cursive;
}
.card-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 28vh;
}
@media screen and (max-width: 600px) {
  .gallery-card {
    width: 45%;
  }
}
@media screen and (max-width: 800px) {
  .gallery-card {
    width: 80%;
  }
}
